<h1>SNAKE</h1>
<div>Score <span id="score"></span></div>
<canvas id="game"></canvas>
<script>

/**
 * Constants
 */
var DRAW_TIME = 130;
var GAME_SIZE = 30;
var SEG_SIZE = 20;
var GROWTH_AMOUNT = 5;
var EMPTY_COLOR = '#DDDDDD';
var SNAKE_COLOR = 'black';
var APPLE_COLOR = 'red';

/**
 * Global variables
 */
var gameCanvas = document.getElementById('game');
var gameWindow = gameCanvas.getContext('2d');
var gameRunning;
var applePos;
var snake = [createCord(0,0)];
var snakeSize = 5;
var velocityX = 0;
var velocityY = 1;
var score = 0;

/**
 * Prepare the canvas for the game
 */
function init() {
  gameCanvas.setAttribute('width', (GAME_SIZE * SEG_SIZE));
  gameCanvas.setAttribute('height', (GAME_SIZE * SEG_SIZE));
  applePos = getNewApplePos();
  startRenderLoop();
}

/**
 * Sets up the rendering loop of the game
 */
function startRenderLoop() {
  gameRunning = setInterval(gameLoop, DRAW_TIME);
}

/**
 * Renders each iteration of the game
 */
function gameLoop() {
  snakePos = snake[snake.length - 1];
  var x = (snakePos.x + velocityX) % GAME_SIZE;
  var y = (snakePos.y + velocityY) % GAME_SIZE;
  
  if (x < 0) x = GAME_SIZE;
  if (y < 0) y = GAME_SIZE;
  
  var cord = createCord(x, y);

  if (isPartOfSnake(cord)) {
    clearInterval(gameRunning);
  }

  snake.push(cord);
  
  if (snake.length > snakeSize) {
    snake.shift();
  }

  if (x == applePos.x && y == applePos.y) {
    score++;
    applePos = getNewApplePos();
    snakeSize += GROWTH_AMOUNT;
  }

  document.getElementById('score').innerHTML = score;
  drawGrid();
}

/**
 * Draw the game
 */
function drawGrid() {
  for (i = 0; i < GAME_SIZE; i++) {
    for (j = 0; j < GAME_SIZE; j++) {
      drawSegment(createCord(i, j), EMPTY_COLOR);
    }
  }
  for (i = 0; i < snake.length; i++) {
    drawSegment(snake[i], SNAKE_COLOR);
  }
  drawSegment(applePos, APPLE_COLOR);
}

/**
 * Check if the cord is part of the snake
 */
function isPartOfSnake(cord) {
  for (var i = 0; i < snake.length; i++) {
    if (cord.x === snake[i].x && snake[i].y === cord.y) {
      return true;
    }
  }
  return false;
}

/**
 * Generate new apple position 
 */
function getNewApplePos() {
  var possiblePositions = [];
  for (var i = 0; i < GAME_SIZE; i++) {
    for (var j = 0; j < GAME_SIZE; j++) {
      var cord = createCord(i, j);
      if (!isPartOfSnake(cord)) {
        possiblePositions.push(cord);
      }
    }
  }
  return possiblePositions[Math.floor(Math.random() * possiblePositions.length)];
}

/**
 * Utility to turn x and y parameters into a cordinate
 */
function createCord(x, y) {
  return { x, y };
}

/**
 * Draw square segment
 */
function drawSegment(cord, color) {
  gameWindow.fillStyle = color;
  var x = cord.x * SEG_SIZE;
  var y = cord.y * SEG_SIZE;
  gameWindow.fillRect(x, y, SEG_SIZE, SEG_SIZE);
}

/**
 * Keyboard events
 */
document.addEventListener('keydown', function(e) {
  // left arrow key
  if (e.which === 37 && velocityX === 0) {
    velocityX = -1;
    velocityY = 0;
  }
  // up arrow key
  else if (e.which === 38 && velocityY === 0) {
    velocityX = 0;
    velocityY = -1;
  }
  // right arrow key
  else if (e.which === 39 && velocityX === 0) {
    velocityX = 1;
    velocityY = 0;
  }
  // down arrow key
  else if (e.which === 40 && velocityY === 0) {
    velocityX = 0;
    velocityY = 1;
  }
});

init();

</script>